<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.14.0" targetFramework="net48" />
  <package id="BoDi" version="1.5.0" targetFramework="net48" />
  <package id="Cucumber.Messages" version="6.0.1" targetFramework="net48" />
  <package id="DotNetSeleniumExtras.PageObjects.Core" version="4.0.0-beta1" targetFramework="net48" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net48" />
  <package id="FileWatcher" version="1.1.1.0" targetFramework="net48" />
  <package id="Gherkin" version="6.0.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.7.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="NUnit" version="3.13.2" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.0.0-beta.2" targetFramework="net48" />
  <package id="Selenium.Support" version="4.0.0-beta2" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.0.0-beta2" targetFramework="net48" />
  <package id="SharpZipLib" version="1.3.1" targetFramework="net48" />
  <package id="SpecFlow" version="3.7.38" targetFramework="net48" />
  <package id="SpecFlow.NUnit" version="3.7.38" targetFramework="net48" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="3.7.38" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net48" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net48" />
  <package id="WebDriverManager" version="2.11.1" targetFramework="net48" />
</packages>